footer
  .footer-bottom
    .container-fluid.custom-container
      .col-md-12.footer-end.clearfix
        .left
          span.copy
            | © 2015. All rights reserved.
            span.white
              a(href='blog-detail-2.html')  NRGNetwork
          span.created
            | Created with LOVE by
            span.white
              a(href='blog-detail-2.html')  NRGThemes
        .right
          a.btn.color-7.size-2.hover-9 About Us
          a.btn.color-7.size-2.hover-9 Help
          a.btn.color-7.size-2.hover-9 Privacy Policy
.be-fixed-filter