header
  .container-fluid.custom-container
    .row.no_row.row-header
      .brand-be
        a(href='/')
          img.be_logo(src='/img/logo.png', alt='Connect Plus', height=37)
      .login-header-block
        .login_block
          -var is_signup = (title=='회원가입')
          a.btn.color-4.size-2.hover-7(href=(is_signup) ? '/login' : '/signup')
            i.fa.fa-user
            if is_signup
              | 로그인
            else
              | 회원가입