mixin delete(content)
  .delete-popup.message-popup
    .message-popup-inner.container
      .row
        .col-sm-8.col-sm-offset-2
          i.fa.fa-times.close-button
          h5.large-popup-title 정말로 삭제하시겠습니까 ?
          .form-group
            input.form-input(type='text', disabled, value=content)
          a.btn.btn-right.color-1.size-1.hover-1.ob-delete 확인

mixin list(title)
  .list-popup.message-popup
    .message-popup-inner.container
      .row
        .col-sm-8.col-sm-offset-2
          i.fa.fa-times.close-button
          h5.large-popup-title= title
          .be-drop-down
            i.fa.fa-user
            span.be-dropdown-content= title
            ul.drop-down-list
          .list_keywords
            a.btn.color-1.size-3.hover-10
              i.fa.fa-trash-o
              | 모두 지우기
          .form-group
            select(name='list', multiple=true, style='display:none')
          a.btn.btn-right.color-1.size-1.hover-1#submit-button(type='submit') 추가

mixin dropdown(title)
  .list_keywords
    a.btn.color-4.size-3.hover-10
      i.fa.fa-trash-o
      | 모두 지우기
  .be-drop-down.color-2
    i.fa.fa-user
    span.be-dropdown-content= title
    ul.drop-down-list

mixin file(is_e, is_m, name, link, object)
  #file-input
    .list_keywords.form-group
      a.btn.color-4.size-3.hover-10
        i.fa.fa-trash-o
        | 모두 지우기
      if is_e && object.photos.length > 0
        select(name='remove', multiple=true, style='display:none')
          for x in object.photos
            option(value=x)= x
        for item, i in object.photos
          a.btn.color-6.size-3.hover-10.pre(data=i)
            img(src='/upload/' + link + '/' + item)
            i.fa.fa-times.keyword
    input.form-input(type='file', name=name, multiple=is_m)

mixin contact()
  .contact-popup.message-popup
    .message-popup-inner.container
      .row
        .col-sm-8.col-sm-offset-2
          i.fa.fa-times.close-button
          h5.large-popup-title 아래로 연락주세요
          .contact-info.contact-header
            .row
              .col-xs-12.col-sm-6
                .contact-entry
                  h4.contact-label
                    i.fa.fa-question-circle-o
                    | 후원 문의
                  .contact-text
                    p
                      a(href='mailto:') abcd@gmail.com
              .col-xs-12.col-sm-6
                .contact-entry
                  h4.contact-label
                    i.fa.fa-desktop
                    | 홈페이지 서비스 문의
                  .contact-text
                    p
                      a(href='mailto:') abcd@gmail.com