mixin box(object, len, link, is_article)
  .collection
    h3.menu-article.limit-content
      a(href=link + object._id)
        if is_article
          | #{object.title}
        else
          | #{object.content}
    div(class=typeof object.photos === "" ? "collection-header" : "")
      span
        i.fa.fa-clock-o
        | #{object.date} #{object.time}
      span
        i.fa.fa-thumbs-o-up
        | #{object.like}
      span
        i.fa.fa-comment-o
        | #{len}
      if object.photos.length > 0
        span
          i.fa.fa-image
          | #{object.photos.length}
      if is_article
        span
          i.fa.fa-share
          | #{object.share}
      else
        .edit-collection
          a(href=link + object._id + '/edit')
            i.fa.fa-pencil
          a(data-link=link, data-id=object._id, title=(is_article ? object.title : object.content)).open-button
            i.fa.fa-trash

mixin none(message)
  .collection
    h3.menu-article.limit-content
      a= message

mixin child(object, link)
  .be-post.style-2
    a.be-post-title(href=link + '/' + object._id) #{object.name}
    a.be-img-block(href=link +'/' + object._id)
      img(src=object.photo)