doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='/nrg/img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='PbSYuLGN9CBOayGdK1GTwZPVp2so0bV4jgfAwxVtU7I')
    link(rel='stylesheet', href='/css/custom.css')
    block extrahead
    link(rel='stylesheet', href='/nrg/style/bootstrap.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/nrg/style/icon.css')
    link(rel='stylesheet', href='/nrg/style/loader.css')
    link(rel='stylesheet', href='/nrg/style/idangerous.swiper.css')
    link(rel='stylesheet', href='/nrg/style/stylesheet.css')
    link(rel='stylesheet', href='/nrg/custom.css')
    <!--[if lt IE 10]>
    <link rel="stylesheet" type="text/css" href="/nrg/style/ie-9.css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  body.body-color3.body-color6
    block body
    include ./include/loader.jade
    include ./include/header.jade
    #content-block
      block content
    script(src='/js/jquery-2.2.2.min.js')
    block script
    script(src='/nrg/script/bootstrap.min.js')
    script(src='/nrg/script/idangerous.swiper.min.js')
    script(src='/nrg/script/isotope.pkgd.min.js')
    script(src='/nrg/script/jquery.viewportchecker.min.js')
    script(src='/nrg/script/global.js')