extends zyra/mainpage
include nrg/include/popup
block container
  include nrg/include/message
  -var is_edit = (typeof article !== 'undefined')
  form(method='post', id='write', enctype='multipart/form-data')
    .form-group
      .row
        .col-sm-2
          span 제목
        .col-sm-10
          input.form-input(name='title', placeholder='제목', value=(is_edit ? article.title : ''), maxlength=20, autofocus, required)
    .form-group
      .row
        .col-sm-2
          span 사진
        .col-sm-10
          +file(is_edit, true, 'image', 'article', article)
    .form-group
      .row
        .col-sm-2
          span 동영상
        .col-sm-10
          if is_edit && article.video
            span#video-del
              i.fa.fa-trash(style='margin-right: 10px')
              | #{article.getVideo()}
          input(type='hidden', name='rmVideo', value=false)
          input.form-input(type='file', name='video')
    .form-group
      .row
        .col-sm-2
          span 내용
        .col-sm-10
          textarea.form-input(name='content', placeholder='내용을 입력하세요')
            if is_edit
              | #{article.content}
    .form-group
      .row
        .col-sm-2
          span 관련 아동
        #tag-dropdown.col-sm-10
          if children.length > 0
            +dropdown('관련 아동')
            select(name='children', multiple=true, style='display:none')
              for child in children
                option(value=child._id, selected=(is_edit ? child.selected : false))= child.name
          else
            input.form-input(type='text', disabled, value='등록된 아동이 없습니다')
    .clearfix
      p
        button.progression-contact-submit.wpcf7-submit(type='submit', form='write')
          span 확인
        if is_edit
          a.open-button.progression-contact-submit.wpcf7-submit(data=article._id) 삭제
block popup
  if is_edit
    +delete(article.title)
block extrascript
  script(src='/nrg/script/bootstrap.min.js')
  script(src='/nrg/script/jquery.viewportchecker.min.js')
  script(src='/nrg/script/global.js')
  script(src='/js/popup.js')
  if is_edit
    script(type='text/javascript').
      function before_open($btn) {
        before_delete('/article/', $btn.attr('data'), '', '/home');
      }