extends zyra/layout
block extrahead
  link(rel='stylesheet', href='/nrg/style/idangerous.swiper.css')
append header-btn
  if isSupport
    a.header-btn.header-article(href='/message')
      i.fa.fa-plus
block content
  #infinite-pro.detail-container
    each item in messages
      .infinite-container
        article
          .container-blog
            .blog-post.be-large-post
              -var object = item
              -var is_article = false
              -var link = 'message'
              include zyra/include/detail
              if item.photos.length > 1
                .post-preview.simple-slider
                  .swiper-container(data-autoplay='0', data-loop='1', data-speed='500', data-center='0', data-slides-per-view='1')
                    .swiper-wrapper
                      for photo, index in item.photos
                        if index == 0
                          .swiper-slide.active(data-val=index)
                            img.img-responsive.img-full(src='/upload/message/' + photo)
                        else
                          .swiper-slide(data-val=index)
                            img.img-responsive.img-full(src='/upload/message/' + photo)
                    .pagination
              if item.photos.length == 1
                a.post-preview.post-image
                  img.img-full(src=item.getCover())
              .be-large-post-align
                a(href='/message/'+item.id).post-text.limit-content= item.content
  if isSupport
    a.ls-sc-button.default.float-btn(href='/message')
      span.ls-sc-button-inner
        | 글쓰기
        i.ls-sc-button-icon-right.fa.fa-plus
block extrascript
  script(type='text/javascript', src='/nrg/script/idangerous.swiper.min.js')
  script(type='text/javascript', src='/nrg/script/global.js')