extends zyra/layout
include nrg/include/popup
block content
  .page-container
    #content-container-pro
      .row
        .col-md-6
          a.btn.color-1.size-2.hover-1(href='/setting/user')
            i.fa.fa-angle-left
            | 후원자 리스트
        .col-md-6
      table.col-2
        thead
          th 아동 이름
          th 후원자
        tbody
          if children.length > 0
            for child in children
              tr
                td
                  a(href='/child/' + child._id)= child.name
                  span.column-edit
                    a(title=child._id).open-button
                      i.fa.fa-plus
                    a(href='/child/' + child._id + '/edit')
                      i.fa.fa-pencil
                    a(data-id=child._id, data-name=child.name).open-button
                      i.fa.fa-trash
                td= child.supports
          else
            tr
              td(colspan=2) 등록된 아동이 없습니다
      a.progression-contact-submit.wpcf7-submit(href='/child') 아동 추가
    .clearfix
    +list('후원자 추가')
    +delete()
block extrascript
  script(src='/nrg/script/bootstrap.min.js')
  script(src='/nrg/script/jquery.viewportchecker.min.js')
  script(src='/nrg/script/global.js')
  script(src='/js/popup.js')
  script(type='text/javascript').
    var targ_id = '';
    function before_open($btn) {
      if ($btn.attr('data-id')) {
        before_delete('/child/', $btn.attr('data-id'), $btn.attr('data-name'));
        return;
      }
      popup = $('.list-popup');
      targ_id = setting($btn, '/user');
    }
    child_setting();