extends zyra/mainpage
block container
  if messages.error
    #message
      .alert-danger
        div= messages.error
  .row.form-group
    .col-sm-2
      span 이미지
    .col-sm-10
      img(src=child.getPhoto(), style='max-height:300px')
  .row.form-group
    .col-sm-2
      span 이름
    .col-sm-10
      .be-comment-text= child.name
  .row.form-group
    .col-sm-2
      span 나이
    .col-sm-10
      .be-comment-text= child.age
  .row.form-group
    .col-sm-2
      span 성별
    .col-sm-10
      .be-comment-text= (child.isMale ? '남' : '여')
  .row.form-group
    .col-sm-2
      span 생년월일
    .col-sm-10
      .be-comment-text= (child.birth ? child.birth.format('yyyy년 MM월 dd일') : '미입력')
  .row.form-group
    .col-sm-2
      span 학교
    .col-sm-10
      .be-comment-text= child.school
  .row.form-group
    .col-sm-2
      span 좋아하는 과목
    .col-sm-10
      .be-comment-text= child.favoriteSubject
  .row.form-group
    .col-sm-2
      span 좋아하는 활동
    .col-sm-10
      .be-comment-text= child.favoriteActivity
  if isAdmin
    .row.form-group
      .col-sm-2
        span 고유 번호
      .col-sm-10
        .be-comment-text= child.code
    .row.form-group
      .col-sm-2
        span 후원자
      .col-sm-10
        .be-comment-text= (supports.length > 0 ? supports : "후원자가 없습니다")
    p
      a.progression-contact-submit.wpcf7-submit(href='/setting/child') 목록
      a.progression-contact-submit.wpcf7-submit(href='/child/' + child._id + '/edit') 수정