extends zyra/mainpage
include nrg/include/popup
block container
  -var is_edit = (typeof child !== 'undefined')
  form(method='post', id='write', enctype='multipart/form-data')
    .form-group
      .row
        .col-sm-2
          span 이미지
        .col-sm-10
          input.form-input(type='file', name='image')
    .form-group
      .row
        .col-sm-2
          span 아동 이름
        .col-sm-10
          input.form-input(name='name', placeholder='아동 이름', autofocus, value=(is_edit ? child.name : ''), required)
    .form-group
      .row
        .col-sm-2
          span 나이
        .col-sm-10
          input.form-input(name='age', placeholder='나이', value=(is_edit ? child.age : ''))
    .form-group
      .row
        .col-sm-2
          span 성별
        .col-sm-5
          .form-checkbox
            input(name='isMale', id='check-male', type='radio', value='true', checked=(is_edit ? child.isMale : false))
            span.check
              i.fa.fa-check
            lable(for='check-male')  남
        .col-sm-5
          .form-checkbox
            input(name='isMale', id='check-female', type='radio', value='false', checked=(is_edit ? !child.isMale : false))
            span.check
              i.fa.fa-check
            lable(for='check-female')  여
    .form-group.birth-form
      .row
        .col-sm-2
          span 생년월일
        .col-sm-4
          .be-drop-down
            span.be-dropdown-content 연도
            select.be-custom-select#birth-year(name='birthYear')
            ul.drop-down-list
        .col-sm-3
          .be-drop-down
            span.be-dropdown-content 월
            select.be-custom-select#birth-month(name='birthMonth')
            ul.drop-down-list
        .col-sm-3
          .be-drop-down
            span.be-dropdown-content 일
            select.be-custom-select#birth-day(name='birthDay')
            ul.drop-down-list
    .form-group
      .row
        .col-sm-2
          span 학교
        .col-sm-10
          input.form-input(name='school', placeholder='학교', value=(is_edit ? child.school : ''))
    .form-group
      .row
        .col-sm-2
          span 가장 좋아하는 과목
        .col-sm-10
          input.form-input(name='favoriteSubject', placeholder='가장 좋아하는 과목', value=(is_edit ? child.favoriteSubject : ''))
    .form-group
      .row
        .col-sm-2
          span 가장 좋아하는 활동
        .col-sm-10
          input.form-input(name='favoriteActivity', placeholder='가장 좋아하는 활동', value=(is_edit ? child.favoriteActivity : ''))
    .form-group
      .row
        .col-sm-2
          span 고유번호
        .col-sm-10
          input.form-input(name='code', placeholder='고유번호', value=(is_edit ? child.code : ''), required)
    if is_edit
      .form-group
        .row
          .col-sm-2
            span 등록된 후원자
          #tag-dropdown.col-sm-10(title=child._id + '')
            +dropdown('후원자')
            select(name='supports', multiple=true, style='display:none')
    .clearfix
      p
        button.progression-contact-submit.wpcf7-submit(type='submit', form='write')
          span 확인
        if is_edit
          a.open-button.progression-contact-submit.wpcf7-submit(data=child._id + '') 삭제
  .clearfix
block popup
  if is_edit
    +delete(child.name)
block extrascript
  script.
    $(document).ready(function () {
      child_form();
      birth_init();
    });
  if is_edit
    script(src='/js/popup.js')
    script(type='text/javascript').
      child_supporters();
      function before_open($btn) {
        before_delete('/child/', $btn.attr('data'), '', '/setting/child');
      }