extends zyra/layout
block extrahead
  link(rel='stylesheet', href='/nrg/style/idangerous.swiper.css')
append header-btn
  if link == 'article'
    if isAdmin
      a.header-btn.header-article(href='/' + link + '/' + object._id + '/edit')
        i.fa.fa-edit
block content
  #infinite-pro.detail-container
    .infinite-container
      article
        .container-blog
          .blog-post.be-large-post
            -var is_article = (link == 'article')
            -var is_detail = true
            include zyra/include/detail
            if object.photos.length > 1
              .post-preview.be-large-post-slider
                .swiper-container(data-autoplay='0', data-loop='1', data-speed='500', data-center='0', data-slides-per-view='1')
                  .swiper-wrapper
                    for photo, index in object.photos
                      .swiper-slide(data-val=index)
                        img.img-responsive.img-full(src='/upload/' + link + '/' + photo)
                  .pagination.hidden
                  .swiper-arrow-left.type-3
                  .swiper-arrow-right.type-3
            if is_article && object.video
              .embed-responsive.embed-responsive-16by9
                video(src=object.getVideo(), controls)
            .blog-content.be-large-post-align
              if object.photos.length == 1
                img(src=object.getCover())
              .post-text
                p= object.content
            .be-large-post-align
              .row
                .col-xs-12.col-sm-6
                  if typeof object.tags !== "undefined"
                    .be-bottom
                      .tags_block.clearfix
                        ul
                          for tag in object.tags
                            li
                              a= tag
                .col-xs-12.col-sm-6
                  .be-bottom.right
                    ul.soc_buttons.light
                      li
                        a(href='/' + link + '/' + object._id + '/like', class=(typeof object.liked === "undefined" ? "" : "articleliked"))
                          i.fa.fa-thumbs-o-up
                      if is_article
                        li
                          a(href='/article/' + object._id + '/share', class=(typeof object.shared === "undefined" ? "" : "articleshared"))
                            i.fa.fa-share
            .be-large-post-align
              form.form-block#comment-form
                .row
                  .col-sm-12
                    .form-group.fg_icon
                      input(name='parent', type='hidden', value=object['_id'])
                      input.form-input(name='content', type='text', placeholder='댓글을 입력하세요')
                      a#comment-submit.icon(title=link)
                        i.form-group-icon.fa.fa-check
              if len > 0
                .detail-comments
                  each comment in list
                    .be-comment
                      .be-img-comment
                        a
                          img(src=comment.userOb.setPhoto).be-ava-comment
                      .be-comment-content
                        span.be-comment-name
                          a= comment.userOb.setName
                        span.be-comment-time
                          .post-date
                            i.fa
                            = ' ' + comment.date + ' ' + comment.time
                        if comment.owner
                          .alert= comment.content
                            if is_article
                              button.close(data-type=link, data-usr=comment.user + '', data-src=comment._id + '')
                                i.fa.fa-times
                            else
                              button.close(data-type=link, data-src=comment._id + '')
                                i.fa.fa-times
                        else
                          .be-comment-text= comment.content
    .clearfix
  .clearfix
block extrascript
  script(type='text/javascript', src='/nrg/script/idangerous.swiper.min.js')
  script(type='text/javascript', src='/nrg/script/global.js')
  script(src='/js/popup.js')
  script(type='text/javascript').
    comment_delete($(location).attr('pathname'));