extends zyra/layout
block extrahead
  link(rel='stylesheet', href='/nrg/style/idangerous.swiper.css')
append header-btn
  if isAdmin
    a.header-btn.header-article(href='/article')
      i.fa.fa-plus
block content
  #infinite-pro
    each item in articles
      .infinite-container
        article
          .container-blog
            if item.video
              .featured-blog-progression.featured-video-progression
                video(src=item.getVideo(), controls)
            else
              if item.photos.length > 1
                .featured-blog-progression.post-preview.simple-slider
                  .swiper-container(data-autoplay='0', data-loop='1', data-speed='500', data-center='0', data-slides-per-view='1')
                    .swiper-wrapper
                      for photo, index in item.photos
                        if index == 0
                          .swiper-slide.active(data-val=index)
                            img.img-responsive.img-full(src='/upload/article/' + photo)
                        else
                          .swiper-slide(data-val=index)
                            img.img-responsive.img-full(src='/upload/article/' + photo)
                    .pagination
              if item.photos.length == 1
                .featured-blog-progression
                  a(href='/article/' + item._id)
                    img.attachment-progression-blog.wp-post-image(width='900', height='470', src=item.getCover())
            .blog-article
              span.be-text-tags.be-post-title.clearfix
                .author-post
                  a(href='/article/' + item._id)= ' ' + item.title
            .blog-post-text-bg
              //ul.meta-progression-bottom
                li
                  span
                    a
                      i.fa.fa-calendar
                      time.entry-date= (item.date == '' ? item.time : item.date)
                  span
                    a
                      i.fa.fa-thumbs-up
                      time.entry-date= item.like
                  span
                    a
                      i.fa.fa-comment
                      = item.comments.length
                  if item.photos.length > 0
                    span
                      a
                        i.fa.fa-image
                        = item.photos.length
                  span
                    a
                      i.fa.fa-share
                      = item.share
              .entry-content
                p.limit-content
                  a(href='/article/' + item._id)= item.content
            .clearfix
  if isAdmin
    a.ls-sc-button.default.float-btn(href='/article')
      span.ls-sc-button-inner
        | 글쓰기
        i.ls-sc-button-icon-right.fa.fa-plus
  .clearfix
block extrascript
  script(type='text/javascript', src='/nrg/script/idangerous.swiper.min.js')
  script(type='text/javascript', src='/nrg/script/global.js')