extends zyra/mainpage
block content
  .info-container
    br
    h4
      span
        img(src='img/flock-of-birds.svg')
        | ACM 사명 - 자유
    .page-container
      p 하나님의 능력으로 말라위 어린이들을 가난과 어두움으로부터 <b>자유롭게</b> 한다.
      p 예수님은 가난한 자에게 복음을, 포로된 자에게 자유를, 병든 이를 고치시고, 눌린 자가 나음을 입게 하시고, 모든 이에게 하나님의 은혜의 해를 선포하는 것을 자신의 사명으로 보셨다. 우리 또한 <b>예수님의 제자로서 하나님의 치유와 회복을 일으키는 주의 은혜의 해를 선포</b>하라는 그 사명에 부르심을 받았다.
    br
    h4
      span
        img(src='img/partnership.svg')
        | ACM 비전 - 샬롬 공동체
    .page-container
      p 성령 안에서 산상수훈의 말씀을 실천하며 <b>샬롬 공동체</b>를 만들어 간다.
      p 어린이들이 전인적으로 성장할 수 있도록 영적, 신체적, 교육적, 정서적, 사회적으로 건강한 환경을 제공하며 가정, 교회, 학교, 마을에서 <b>하나님 나라의 샬롬이 구현되도록 총체적 선교</b>를 지향한다. 삼위일체 하나님께서 하나가 되신 것처럼 제자들도 하나가 되라는 주님의 계명에 따라서 서로 사랑하며 개발의 원리, 통합의 원리, 성장의 원리, 자립의 원리, 지속의 원리로 공동체를 이루며, 성령님께서 주시는 능력으로 샬롬을 실천한다.
    br
    h4
      span
        img(src='img/global.svg')
        | ACM 목적 - 하나님 나라
    .page-container
      p 어린이들이 하나님의 형상으로 회복될 수 있도록 먼저 성령님의 역사로 사람의 변화가 시작되어 건강한 가정과 교회 그리고 건강한 학교와 마을에서 <b>총체적 복음을 경험하는 하나님 나라</b>이다.
      p 하나님 나라의 총체적 복음은 하나님 나라의 현재성과 미래성이며 하나님 나라의 개인성과 사회성이고 하나님 나라의 내재성과 초월성으로 <b>샬롬이 실현되는 하나님 나라</b>이다.
    br
    h4
      span
        img(src='img/christian-symbol.svg')
        | ACM 목표 - 전인적 구원
    .page-container
      p 성경의 선교명령(마28:19-20)과 이웃 사랑의 계명(마25:35-36)에 근거하여, 가난하고 고통 받는 어린이들을 영적, 신체적, 교육적, 사회적, 정서적 회복을 통한 <b>예수 그리스도 안에서 전인적 구원</b>이다.
    br
    h4
      span
        img(src='img/handshake.svg')
        | ACM 사역 - 총체적 선교
    .page-container
      p <b>개인의 전인적 변화가 가정과 교회 그리고 학교와 마을의 변화</b>로 이어지는 총체적 선교(Wholistic Mission)이다.
      p <b>영적, 신체적, 교육적, 정서적, 사회적 사역을 서로 분리 않고 함께 추진</b>하는 총체적 선교(Wholistic Mission)이다.
      p 개인의 전인적 변화를 통해 가정, 교회, 학교, 마을이 <b>하나님 나라의 통치로 회복</b>되는 총체적 선교(Wholistic Mission)이다.