extends nrg/layout
block extrahead
  script(src='/js/facebook.js')
block body
  script.
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1654251351458375',
        xfbml: true,
        version: 'v2.5'
      });
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
block content
  .large-popup.login(style='display: block')
    .large-popup-fixed
    .container.large-popup-container
      .row
        .col-md-8.col-md-push-2.col-lg-6.col-lg-push-3.large-popup-content(style='padding-left:0; padding-right:0')
          include ./nrg/include/message
      .row
        .col-md-8.col-md-push-2.col-lg-6.col-lg-push-3.large-popup-content
          .row
            h5.large-popup-title Log in
            form.popup-input-search(method='post')
              .row
                .col-md-6
                  input.input-signtype(type='text', required='', name='username', placeholder='아이디 또는 이메일', autofocus)
                .col-md-6
                  input.input-signtype(type='password', required='', name='password', placeholder='비밀번호')
              .row.social-login
                .col-xs-6
                  //.be-checkbox
                    label.check-box
                      input.checkbox-input(type='checkbox', value='')
                      span.check-box-sign
                    span.large-popup-text
                      |  Stay signed in
                  a.link-large-popup(href='/auth/facebook')
                    span
                      i.fa.fa-facebook-square
                      | 페이스북으로 로그인
                .col-xs-6
                  input.be-popup-sign-button(type='submit', value='로그인')
              //.row.social-login
                .col-md-12
                  a.be-popup-sign-button(href='/auth/facebook') 페이스북으로 로그인