extends zyra/mainpage
include nrg/include/popup
block container
  -var is_edit = (typeof message !== 'undefined')
  form(method='post', id='write', enctype='multipart/form-data')
    .form-group
      .row
        .col-sm-2
          span 이미지
        .col-sm-10
          +file(is_edit, true, 'image', 'message', message)
    .form-group
      input(type='hidden', name='fromMypage', value=(menu_mypage ? 'true':'false'))
      .row
        .col-sm-2
          span 내용
        .col-sm-10
          textarea.form-input(name='content', placeholder='내용을 입력하세요', autofocus)
            if is_edit
              | #{message.content}
    .clearfix
      p
        label.check-box
          input.checkbox-input(type='checkbox', name='public', checked=((is_edit && message.public) || false))
          span.check-box-sign
        span.large-popup-text
          |  소통공간에 공개합니다
        button.progression-contact-submit.wpcf7-submit(type='submit', form='write')
          span 확인
        if is_edit
          a.open-button.progression-contact-submit.wpcf7-submit(data=message._id) 삭제
        .clearfix
block popup
  if is_edit
    +delete(message.content)
block extrascript
  script(src='/nrg/script/bootstrap.min.js')
  script(src='/nrg/script/jquery.viewportchecker.min.js')
  script(src='/nrg/script/global.js')
  script(src='/js/popup.js')
  script(type='text/javascript').
    function before_open($btn) {
      var redirect = '/chat';
      if (document.referrer.indexOf('mypage') > -1) redirect = '/chat';
      before_delete('/message/', $btn.attr('data'), '', redirect);
    }