extends zyra/layout
append header-btn
  a.header-btn.header-article(href='/message')
    i.fa.fa-plus
block content
  #infinite-pro.mypage-container
    .container.be-detail-container
      .row
        .col-md-3.left-feild
          .be-user-block
            .be-user-detail
              a.be-ava-user(href='/mypage/edit')
                img.rounded(src=user.getPhoto())
              p.be-use-name= user.getName()
              span.be-user-info= '이메일 ' + user.getMail()
            p.be-text-userblock
            | #{user.local.email}
          .be-post.style-5
            .be-rowline
              .rowline-text
                | 후원하는 아동
                span.rowline-icon
                  i.fa.fa-child
                  | #{children.length}
            .be-rowline
              .rowline-text
                | 게시글
                span.rowline-icon
                  i.fa.fa-comment
                  | #{messages.length}
          a.be-button-vidget.blue-style(href='/mypage/edit') 정보 수정
          a.be-button-vidget.grey-style.open-button(title='contact') 문의하기
        .col-md-9
          .tab-wrapper.style-1
            .tab-nav-wrapper
              .nav-tab.clearfix
                .nav-tab-item.active
                  span 후원 아동 소식
                .nav-tab-item
                  span 후원 아동
                .nav-tab-item
                  span 모아보기
                .nav-tab-item
                  span 게시글
            .tabs-content.clearfix
              include nrg/include/tabs
              .tab-info.active
                if articles.length > 0
                  each article in articles
                    +box(article, article.comments.length, '/article/', true)
                else
                  +none('후원 아동의 소식이 없습니다.')
              .tab-info(id='tab-children')
                if children.length > 0
                  .row
                    each child in children
                      .col-ml-12.col-xs-6.col-sm-4
                        +child(child, '/child')
                else
                  +none('후원하는 아동이 없습니다.')
              .tab-info
                if shares.length > 0
                  each article in shares
                    +box(article, article.comments.length, '/article/', true)
                else
                  +none('담아둔 게시글이 없습니다.')
              .tab-info(id='tab-article')
                if messages.length > 0
                  each message in messages
                    +box(message, message.children.length, '/message/', false)
                else
                  +none('작성한 글이 없습니다.')
    include nrg/include/popup
    +delete()
    +contact()
  if isSupport
    a.ls-sc-button.default.float-btn(href='/message')
      span.ls-sc-button-inner
        | 글쓰기
        i.ls-sc-button-icon-right.fa.fa-plus
block extrascript
  script(src='/nrg/script/bootstrap.min.js')
  script(src='/nrg/script/jquery.viewportchecker.min.js')
  script(src='/nrg/script/global.js')
  script(src='/js/popup.js')
  script(type='text/javascript').
    function before_open($btn) {
      if ($btn.attr('title') == 'contact') popup = $('.contact-popup');
      else before_delete($btn.attr('data-link'), $btn.attr('data-id'), $btn.attr('title'));
    }