extends zyra/layout
block content
  #infinite-pro.detail-container
    if typeof user !== 'undefined'
      .infinite-container
        .container-blog
          .row
            .col-xs-12.col-md-12._editor-content_
              include ./nrg/include/message
          .row
            .col-xs-12.col-md-12._editor-content_
              form(method='post', enctype='multipart/form-data')
                .affix-block
                  .be-large-post
                    .info-block.style-2
                      .be-large-post-align
                        h3.info-block-label 계정 정보
                    .be-large-post-align
                      .row
                        .input-col.col-xs-12
                          .form-group.focus-2
                            .form-label 아이디
                            input.form-input(type='text', value=user.username, disabled)
                        .input-col.col-xs-12
                          .form-group.focus-2
                            .form-label 비밀번호
                            input.form-input(type='password', name='pass1', required)
                .affix-block
                  .be-large-post
                    .info-block.style-2
                      .be-large-post-align
                        h3.info-block-label 비밀번호 변경
                    .be-large-post-align
                      .row
                        .input-col.col-xs-12.col-sm-6
                          .form-group.focus-2
                            .form-label 새 비밀번호
                            input.form-input(type='password', name='password')
                        .input-col.col-xs-12.col-sm-6
                          .form-group.focus-2
                            .form-label 새 비밀번호 확인
                            input.form-input(type='password', name='pass2')
                #basic-information.affix-block
                  .be-large-post
                    .info-block.style-2
                      .be-large-post-align
                        h3.info-block-label 기본 정보
                    .be-large-post-align
                      #open-file.be-change-ava
                        a.be-ava-user.style-2
                          img(src=user.getPhoto())
                        a.btn.color-4.size-2.hover-7 사진 바꾸기
                        input(type='file', name='image')
                    .be-large-post-align
                      .row
                        .input-col.col-xs-12.col-sm-6
                          .form-group.fg_icon.focus-2
                            .form-label 성
                            input.form-input(type='text', value=user.local.lastName, name='lastName')
                        .input-col.col-xs-12.col-sm-6
                          .form-group.focus-2
                            .form-label 이름
                            input.form-input(type='text', value=user.local.firstName, name='firstName')
                        .input-col.col-xs-12
                          .form-group.focus-2
                            .form-label 이메일
                            input.form-input(type='text', value=user.local.email, name='email')
                        .input-col.col-xs-12.col-sm-6
                          .form-label Country
                          .be-drop-down.icon-none
                            span.be-dropdown-content  United Kingdom
                            ul.drop-down-list
                              li
                                a USA
                              li
                                a India
                              li
                                a Mexica
                              li
                                a Russia
                              li
                                a Italy
                        .input-col.col-xs-12.col-sm-6
                          .form-group.focus-2
                            .form-label City
                            input.form-input(type='text', value='Barnsley')
                        .input-col.col-xs-12.col-sm-12
                          .form-label 생년월일
                        .birth-form(date=(user.local.birth ? user.local.birth : ''))
                          .input-col.col-xs-12.col-sm-4
                            .be-drop-down
                              span.be-dropdown-content 연도
                              select.be-custom-select#birth-year(name='birthYear')
                              ul.drop-down-list
                          .input-col.col-xs-12.col-sm-4
                            .be-drop-down
                              span.be-dropdown-content 월
                              select.be-custom-select#birth-month(name='birthMonth')
                              ul.drop-down-list
                          .input-col.col-xs-12.col-sm-4
                            .be-drop-down
                              span.be-dropdown-content 일
                              select.be-custom-select#birth-day(name='birthDay')
                              ul.drop-down-list
                #about-me.affix-block
                  .be-large-post
                    .info-block.style-2
                      .be-large-post-align
                        h3.info-block-label About Me
                    .be-large-post-align
                      .row
                        .input-col.col-xs-12
                          .form-group.focus-2
                            .form-label Section Title
                            input.form-input(type='text', placeholder='About Me')
                        .input-col.col-xs-12
                          .form-group.focus-2
                            .form-label Description
                            textarea.form-input(placeholder='Something about you')
                input.btn.full.color-1.size-1.hover-1(type='submit', value='저장')
      .clearfix
block footer
block extrascript
  script(src='/js/popup.js')
  script(type='text/javascript').
    $(document).ready(function () {
      birth_init($('.birth-form').attr('date'));
    });