extends nrg/layout
block content
  .large-popup.register(style='display: block')
    .large-popup-fixed
    .container.large-popup-container
      .row
        .col-md-10.col-md-push-1.col-lg-8.col-lg-push-2.large-popup-content
          include ./nrg/include/message
      .row
        .col-md-10.col-md-push-1.col-lg-8.col-lg-push-2.large-popup-content
          .row
            .col-md-12
              h5.large-popup-title 회원가입
            form.popup-input-search(method='post')
              .col-md-6
                input.input-signtype(type='text', required='', name='lastName', placeholder='성', maxlength=10, autofocus)
              .col-md-6
                input.input-signtype(type='text', required='', name='firstName', placeholder='이름', maxlength=10)
              .col-md-6
                .be-custom-select-block
                  select.be-custom-select
                    option(value='', disabled='', selected='')
                      | 국적
                    option(value='') 미국
                    option(value='') 캐나다
                    option(value='') 영국
                    option(value='') 대한민국
              .col-md-6
                input.input-signtype(id='id', type='text', required='', name='username', placeholder='아이디', maxlength=15)
              .col-md-6
                input.input-signtype#pass1(type='password', required='', name='password', placeholder='비밀번호')
              .col-md-6
                input.input-signtype#pass2(type='password', required='', name='pass2', placeholder='비밀번호 확인')
              .col-md-12.be-date-block
                span.large-popup-text
                  | 생년월일
                .birth-form
                  .be-drop-down
                    span.be-dropdown-content 연도
                    select.be-custom-select#birth-year(name='birthYear')
                    ul.drop-down-list
                  .be-drop-down
                    span.be-dropdown-content 월
                    select.be-custom-select#birth-month(name='birthMonth')
                    ul.drop-down-list
                  .be-drop-down
                    span.be-dropdown-content 일
                    select.be-custom-select#birth-day(name='birthDay')
                    ul.drop-down-list
              .col-md-6
                //.be-checkbox
                //  label.check-box
                //    input.checkbox-input(type='checkbox', value='')
                //    span.check-box-sign
                //  span.large-popup-text
                //    |  I have read and agree to the
                //    a.be-popup-terms(href='blog-detail-2.html') Terms of Use
                //    |  and
                //    a.be-popup-terms(href='blog-detail-2.html') Privacy Policy
                //    | .
                //.be-checkbox
                //  label.check-box
                //    input.checkbox-input(type='checkbox', value='')
                //    span.check-box-sign
                //  span.large-popup-text
                //    |  Send me notifications
              .col-md-6.for-signin
                input.be-popup-sign-button#signup-submit(type='submit', value='회원가입')
block script
  script(src='/js/custom.js')
  script.
    $(document).ready(function () {
      birth_init(new Date());
    });