extends zyra/mainpage
include nrg/include/popup
block container
  .row
    .col-md-6
      a.btn.color-1.size-2.hover-1(href='/setting/child')
        i.fa.fa-angle-left
        | 아동 리스트
    .col-md-6
      p(style='text-align: right')
        span
          i.fa.fa-star 관리자
  table.col-2
    thead
      th 후원자
      th 후원 아동
    tbody
      if users.length > 0
        for user in users
          tr
            td
              span
                | #{user.name}
                if user.admin
                  i.fa.fa-star
              span.column-edit
                a(title=user._id).open-button
                  i.fa.fa-plus
                a(title=user._id).supporter-del
                  i.fa.fa-remove
            td= user.children
      else
        tr
          td(colspan=2) 등록된 후원자가 없습니다
  p 새로 가입한 회원 목록
  table
    thead
      th 회원 이름
    tbody
      if check.length > 0
        for user in check
          tr
            td
              span= user.name
              span.column-edit
                a(title=user._id).supporter
                  i.fa.fa-check
      else
        tr
          td 대기중인 회원이 없습니다
block popup
  +list('후원 아동 추가')
block extrascript
  script(src='/js/popup.js')
  script(type='text/javascript').
    var targ_id = '';
    function before_open($btn) {
      targ_id = setting($btn, '/child');
    }
    user_setting();