@media only screen and (min-width: 1201px) {
}

/* DESKTOP */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .swiper-arrow-left {
    left: 10px !important;
  }

  .swiper-arrow-right {
    right: 10px !important;
  }

  .swiper-arrow-left,
  .swiper-arrow-right {
    width: auto !important;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  }

  ul.meta-progression-bottom li {
    padding: 10px 10px;
  }

  .meta-progression-bottom span {
    padding-left: 5px;
    padding-right: 5px;
  }

  .be-comment-content span {
    width: inherit !important;
    text-align: inherit !important;
  }

  .blog-post.be-large-post .info-block .be-text-tags {
    float: right;
  }
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader i {
  font-size: 50px;
}

.birth-form select {
  display: none;
}

.drop-down-list {
  max-height: 200px;
  overflow: scroll;
}

.boxshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}