@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  min-width: 320px;
}

body, .author-post a, .info-block-label, span.white a, .be-use-name, * {
  font-family: initial;
}

header * {
  -webkit-backface-visibility: initial !important;
}

header {
  height: auto;
  width: auto;
  background: inherit;
  position: static;
  top: auto;
  line-height: inherit;
  z-index: auto;
  background-color: transparent !important;
}

footer ul {
  display: flex;
  float: none !important;
}

footer ul li {
  text-align: center;
}

footer ul li .btn {
  margin: auto;
}

p {
  white-space: pre-line;
}

p b {
  color: #8494c8;
}

.header-left, .header-article {
  line-height: 0 !important;
}

.header-left {
  top: 27.5px !important;
  left: 10px !important;
  right: auto !important;
  font-size: 15px !important;
}

.header-article {
  top: 27.5px !important;
  left: auto !important;
  right: 10px;
  font-size: 15px !important;
}

.form-group .form-input {
  line-height: inherit !important;
}

.meta-progression-bottom span {
  padding-left: 10px;
  padding-right: 10px;
}

.meta-progression-bottom li {
  width: 100%;
}

#sidebar-padding {
  margin: 0 auto !important;
}

#sidebar, body:before, #sidebar-padding, .show-hide-pro,
.navbar-inverse {
  background-color: #a2b4ed;
}

.sf-menu a {
  color: #ffffff;
}

.sf-menu a:hover, .sf-menu a:hover, .sf-menu li a:hover, .sf-menu a:hover, .sf-menu a:visited:hover, .sf-menu li.sfHover a, .sf-menu li.sfHover a:visited, .sf-menu li.current-menu-item a,
.social-ico a i {
  background: #8494c8;
}

.navbar-inverse {
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

#message .alert-danger {
  padding: 15px;
  margin-bottom: 20px !important;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* custom */
#main {
  padding-bottom: 60px;
}

#main .form-checkbox > input + .check {
  z-index: auto;
}

.rounded {
  border-radius: 50%;
}

.wpcf7-submit {
  float: right;
}

.limit-content {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.be-post-title {
  min-height: 25px !important;
}

.be-large-post .be-post-title {
  line-height: 25px;
  padding-bottom: 0 !important;
}

.blog-post .post-text {
  font-size: inherit !important;
}

.be-text-tags.be-post-title .post-date > .fa-clock-o {
  margin-left: 7px;
}

.blog-post.be-large-post .post-date .fa {
  margin-right: 5px;
}

.mypage-container .be-detail-container .be-user-block,
.detail-container .be-large-post {
  background-color: #ffffff;
}

#file-input .list_keywords a.btn img {
  max-height: 100px;
}

#open-file input[type=file] {
  display: none;
}

.message-popup .fa.close-button {
  z-index: 999;
}

.message-popup .col-sm-8 {
  min-width: 300px;
}

input:required {
  box-shadow: 0 0 2px #f39bc1;
  border: 1px solid #f39bc1 !important;
}

input:disabled {
  background: rgba(162, 180, 237, 0.15);
}

/*
 * detail
 */
.detail-container .container-blog {
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.detail-container .author-post {
  float: left !important;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
}

.detail-container .author-post {
  font-size: 22px !important;
  line-height: 25px !important;
}

.detail-container .author-post img {
  width: 25px !important;
  height: 25px !important;
  margin-bottom: 4px;
}

.be-comment-content .post-date,
.blog-post.be-large-post .post-date {
  font-size: 12px !important;
}

.blog-post.be-large-post .post-date {
  float: right !important;
}

.blog-post.be-large-post .info-block .be-text-tags {
  margin-bottom: 0;
}

.form-group.fg_icon .icon {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 1px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-group-icon {
  right: 17px !important;
}

.entry-content > p > a {
  color: #b4b7c1;
}

.detail-container .be-img-comment {
  width: 25px;
  height: 25px;
}

.detail-container .be-comment-content {
  margin-left: 40px;
}

.detail-container .be-ava-comment {
  width: 25px;
  height: 25px;
}

.detail-container .be-comment-name {
  font-size: 16px;
}

.detail-container .be-comment-time {
  font-size: inherit;
}

.detail-container .be-comment-time .fa {
  margin-right: 0;
}

.articleliked,
.articleshared {
  color: #26afd1 !important;
}

.detail-container .form-block,
.detail-container .detail-comments {
  margin-top: 20px;
}

.detail-container .be-comment-content span {
  display: inline;
}

/*
 * mypage
 */
.mypage-container .container {
  width: 95%;
}

.mypage-container .be-post,
.mypage-container .collection {
  background-color: #ffffff;
}

.mypage-container .collection {
  padding: 20px;
}

.collection .edit-collection a {
  color: #b4b7c1;
}

.be-rowline .rowline-icon i {
  padding-right: 5px;
}

.be-drop-down.color-2 .drop-down-list a {
  color: #b4b7c1 !important;
}

.drop-down-list {
  margin: 0;
  padding: 0;
}

.contact-popup .contact-info {
  background: #f6f6f6;
}

@media only screen and (min-width:505px) and (max-width: 767px) {
  .tab-wrapper.style-1 .nav-tab-item {
    float: left;
  }
}

@media only screen and (max-width: 504px) {
  .tab-wrapper.style-1 .nav-tab-item {
    float: none;
  }
}

/*
 * chat
 */
.float-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

/*
 * home
 */
.featured-blog-progression {
  overflow: hidden;
}

.featured-blog-progression a img {
  width: auto;
  max-height: 400px;
}

.featured-blog-progression,
.featured-blog-progression .swiper-container,
.featured-video-progression video {
  max-height: 400px;
}

.featured-blog-progression .swiper-container .swiper-slide {
  transform: translateY(-50%);
}

.blog-article .be-text-tags.be-post-title {
  border-bottom: none;
  margin: 0;
}

.blog-article .author-post {
  padding: 0;
  font-size: 22px;
  line-height: normal;
}

.blog-article .author-post img {
  width: 25px;
  height: 25px;
}

/*
 * write
 */
#content-container-pro .check-box {
  border: 1px solid #edeff2;
}

input:invalid, textarea:invalid {
  background-color: transparent;
}

/*
 * setting
 */
.col-2 th,
.col-2 td {
  width: 50%;
}

.column-edit {
  float: right;
}

.column-edit a {
  color: #b4b7c1;
  padding-left: 5px;
}

.open-button,
.supporter-del,
.supporter {
  cursor: pointer;
}

/*
 * info
 */
.info-container .page-container {
  border-radius: 15px;
}

.info-container h4 {
  position: relative;
  margin: 0 60px -15px 60px;
  padding: 0 30px 0 30px;
  z-index: 99;
}

.info-container h4 span {
  padding: 5px 15px 5px 15px;
  background: #ffffff;
}

.info-container h4 span img {
  height: 20px;
  padding: 0 1px 0 1px;
  margin-right: 10px;
}

@media only screen and (min-width: 959px) and (max-width: 1190px) {
  .info-container h4 {
    margin: 0 45px -15px 45px;
    padding: 0 20px 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .info-container h4 {
    margin: 0 25px -40px 25px;
    padding: 0 15px 0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .info-container h4 {
    margin: 0 0 -15px 10px;
    padding: 0 10px 0 10px;
  }
}