header * {
  -webkit-backface-visibility: initial !important;
}

header {
  background-color: #a2b4ed !important;
}

#message .alert-danger {
  padding: 15px;
  margin-bottom: 20px !important;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.social-login {
  margin-top: 20px;
}

.social-login a {
  line-height: 50px;
}

.social-login span i {
  margin-right: 5px;
}

.large-popup {
  background-color: rgb(242, 242, 244);
}

.large-popup-title {
  color: #8494c8;
  padding-left: 0;
}

.large-popup-container {
  background: transparent;
}

.be-drop-down span {
  color: #b4b7c1;
}

.be-drop-down:hover span, .be-drop-down.be-dropdown-active span {
  color: #ffffff;
}

.be-drop-down {
  width: 33.333333%;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

@media only screen and (min-width: 1201px) {
  .container.large-popup-container > .row {
    max-width: 1000px;
    margin: auto;
  }
}

/* DESKTOP */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .container.large-popup-container > .row {
    max-width: 800px;
    margin: auto;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container.large-popup-container > .row {
    width: 55%;
    max-width: 400px;
    margin: auto;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .container.large-popup-container > .row {
    width: 55%;
    min-width: 300px;
    margin: auto;
  }
}