/* Table of Contents
==================================================
01. RETINA STYLES
02. BASE STYLES (1140px)
03. #DESKTOP (960px)
04. #Tablet (Portrait)
05. #Mobile (Portrait)
*/


/*
=============================================== 01. RETINA STYLES ===============================================
*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body nav select {background:#FAFAFA url(../images/select-arrow@2x.png) center right no-repeat; background-size:contain;}
	#footer-navbar {display: none !important;}
	.float-btn {display: inline-block !important;}
}
/* IE7-IE8 Fixes*/
.lt-ie9	body nav select {background: url(../images/select-arrow.png) center right no-repeat;}


/*
=============================================== 02. BASE STYLES (1140px) ===============================================
*/
/* Note: Design for a width of 1040px */
html {-webkit-text-size-adjust: none;}	/* Removes webkit font resizing */
body {max-width:100%; width:100%;}
img {max-width:100%; height: auto; }
#footer-navbar {display: none !important;}
.float-btn {display: inline-block !important;}


/*
=============================================== 03. #DESKTOP (960px) ===============================================
*/
/* Note: Design for a width of 960px */
@media only screen and (min-width: 959px) and (max-width: 1190px) {

#sidebar, body:before {width:25%;}
#main, footer, #about-me-feature-main, #gallery-index-pro, #gallery-single-pro, #pro-home-slider, #homepage-widgets { margin-left:25%; }

h1 {font-size:36px;  }
h2.blog-title-pro { font-size:30px; }
h2 {font-size:29px; }
h3 {font-size:23px; }
h4  {font-size:21px;}
h5  {font-size:17px; }
h6 {font-size:15px;  }

.gallery-title-index { font-size:19px; }
.fotorama__caption { font-size:22px; }

/* Container Sizes */
#footer-navbar {display: none !important;}
	.float-btn {display: inline-block !important;}
footer, #related-portfolio-pro h2 {  padding:0px 45px; }
#related-portfolio-pro h2 {padding-top:45px;}
#main { padding-top:45px; }
.page-container {
	margin:0px 45px 0px 45px;
	padding:35px;
	padding-bottom:25px;
}
body.blog #infinite-nav-pro a, #title-container-pro, #post-nav-progression {
	margin-right:45px;
	margin-left:45px;
}
.container-blog {
	margin:0px 45px 45px 45px;
	padding:35px;
	padding-bottom:25px;
}

.featured-blog-progression, #featured-image-page, #map-progression {
	margin-top:-35px;
	margin-left:-35px; margin-right:-35px;
	margin-bottom:35px;
}

.gallery-single-container-pro {
	margin-top:45px;
	margin-bottom:45px;
	padding-bottom:0px;
}





}


/*
=============================================== 04. #Tablet (Portrait) ===============================================
*/
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

body:before { display:none; }
#main, footer, #about-me-feature-main, #gallery-index-pro, #gallery-single-pro, #pro-home-slider, #homepage-widgets { margin-left:0; }


.pro-spacer {display:none !important;}
.sidebar-visible-pro #sidebar-padding.scroll-to-fixed-fixed {position:relative !important;}
.sidebar-visible-pro #sidebar-padding,  body.admin-bar .sidebar-visible-pro #sidebar-padding { overflow:hidden; top:0px; padding:20px 10px 20px 10px;  }
#sidebar.sidebar-visible-pro  { width:100%; position:relative; float:none; }


.sidebar-visible-pro #sidebar-padding nav, .sidebar-visible-pro #sidebar-padding #navigation-sidebar-pro  { display:none; }
.sidebar-visible-pro #sidebar-padding nav.toggle-nav-pro, .sidebar-visible-pro #sidebar-padding #navigation-sidebar-pro.toggle-nav-pro { display:block;}

.sidebar-visible-pro .header-btn,
.sidebar-visible-pro .tablet-show-hide {
	cursor:pointer;
	display:block;
	position:absolute;
	top:25px;
	left:25px;
	color:#ffffff;
	font-size:30px;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	/*border:1px solid rgba(255,255,255, 0.7);*/
}

.sidebar-visible-pro .tablet-show-hide.toggle-nav-button-pro {
	background:#ffffff;
	color:#999999;
}

.sidebar-visible-pro .sf-menu.sf-vertical ul { width:100% !important; padding:0px;   margin:0px; position:static; background:none; }
.sidebar-visible-pro .sf-menu.sf-vertical ul { position:static; }
.sidebar-visible-pro .sf-menu.sf-vertical li li a { margin-right:20px; margin-left:40px; padding:10px 0px; margin-top:0px; margin-bottom:2px; }
.sidebar-visible-pro .sf-menu.sf-vertical li li li a {margin-left:80px;}
.sidebar-visible-pro .sf-menu.sf-vertical li li a:before {content:"- "; opacity:0.8;}
.sidebar-visible-pro .sf-sub-indicator i { -ms-transform: rotate(0deg);  -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); transform: rotate(0deg); }

.commentlist {width:68%;}
#post-nav-progression a { font-size:14px; }

body {
	font-size:14px;
	line-height: 1.5;
}
h1 {font-size:35px;  }
h2.blog-title-pro { font-size:28px; }
h2 {font-size:26px; }
h3 {font-size:21px; }
h4  {font-size:20px;}
h5  {font-size:16px; }
h6 {font-size:14px;  }

.gallery-title-index { font-size:19px; }
.fotorama__caption { font-size:22px; }
input#submit-pro, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main td.actions  input.button.checkout-button,
body #main button.button, body #main a.button, body #single-product-pro button.single_add_to_cart_button,
body a.more-link, body #main #respond input#submit, body a.progression-button, body input.wpcf7-submit, body footer .wpcf7 input#submit, body input#submit, body a.ls-sc-button.default {
	padding:14px 20px;
	font-size:11px;
}

ul.meta-progression-bottom {
	font-size:80%;
}


/* Container Sizes */
#footer-navbar {display: block !important;}
	.float-btn {display: none !important;}
footer, #related-portfolio-pro h2 {  padding:0px 25px; }
#related-portfolio-pro h2 {padding-top:35px;}
#main { padding-top:0px; }
.page-container {
	margin:25px 25px 0px 25px;
	padding:30px;
	padding-bottom:25px;
}
body.blog #infinite-nav-pro a, #title-container-pro, #post-nav-progression {
	margin-right:25px;
	margin-left:25px;
}
.container-blog {
	margin:25px;
	padding:30px;
	padding-bottom:25px;
}

.featured-blog-progression, #featured-image-page, #map-progression {
	margin-top:-30px;
	margin-left:-30px; margin-right:-30px;
	margin-bottom:30px;
}

.gallery-single-container-pro {
	margin-top:25px;
	margin-bottom:25px;
	padding-bottom:0px;
}

.fotorama__fullscreen-icon {display:none !important;}


/* WooCommerce Columns */
body #main li.product.column-4 {margin-right:2%; width: 23.5%; clear:none;}
body #main li.product.column-3 {margin-right:2%; width: 32%; clear:none;}
body #main li.product.column-2 {margin-right:2%; width: 49%; clear:none; }


body #main li.product.column-2.last, body #main li.product.column-3.last, body #main li.product.column-4.last, .lt-ie8 body #main li.product.column-2.last, .lt-ie8 body #main li.product.column-3.last, .lt-ie8 body #main li.product.column-4.last {margin-right:0%;}

body #main li.product { float:left;}
body #main li.product.first { clear: both;}

body #main .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
body #main .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
body #main .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }


}


/*
=============================================== 05. #Mobile (Portrait) ===============================================
*/
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

ul.products li.product {width:100% !important; float:none; margin-left:0px !important; margin-right:0px !important; }
#related-portfolio-pro .related-columns-pro,
footer .footer-2-column .widget, footer .footer-3-column .widget, footer .footer-4-column .widget,
.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression  {
	width:100%; margin-bottom:10px;
}
#related-portfolio-pro .related-columns-pro {margin:0px;}

body:before { display:none; }
#main, footer, #about-me-feature-main, #gallery-index-pro, #gallery-single-pro, #pro-home-slider, #homepage-widgets { margin-left:0; }

.pro-spacer {display:none !important;}
.show-hide-pro  { display:none; }

 #sidebar-padding.scroll-to-fixed-fixed {position:relative !important;}
 #sidebar-padding,  body.admin-bar  #sidebar-padding { overflow:hidden; top:0px; padding:20px 10px 20px 10px;  }
#sidebar  { width:100%; position:relative; float:none; }

#sidebar-padding nav, #sidebar-padding #navigation-sidebar-pro  { display:none; }
#sidebar-padding nav.toggle-nav-pro, #sidebar-padding #navigation-sidebar-pro.toggle-nav-pro { display:block;}

 .header-btn,
 .tablet-show-hide {
	cursor:pointer;
	display:block;
	position:absolute;
	top:20px;
	left:15px;
	color:#ffffff;
	font-size:30px;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	/*border:1px solid rgba(255,255,255, 0.7);*/
}

 .fotorama__fullscreen-icon {display:none;}

 .tablet-show-hide.toggle-nav-button-pro {
	background:#ffffff;
	color:#999999;
}

 .sf-menu.sf-vertical ul { width:100% !important; padding:0px;   margin:0px; position:static; background:none; }
 .sf-menu.sf-vertical ul { position:static; }
 .sf-menu.sf-vertical li li a { margin-right:20px; margin-left:40px; padding:10px 0px; margin-top:0px; margin-bottom:2px; }
 .sf-menu.sf-vertical li li li a {margin-left:80px;}
 .sf-menu.sf-vertical li li a:before {content:"- "; opacity:0.8;}
 .sf-sub-indicator i { -ms-transform: rotate(0deg);  -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); transform: rotate(0deg); }

 .commentlist {width:95%; left:-10px;}
 .commentlist li .comment-text {margin-left:0px !important; border:none !important; padding-left:0px !important; }
 .commentlist .children li.comment .comment-meta {margin-left:0px;}
 .commentlist .avatar, .commentlist > li:before {display:none;}
 .commentlist .avatar {display:none;}

 .google-maps-expand .googlemap {max-height:300px !important;}

 #about-me-content-bg {
 	width:100%;
	padding-top:400px;
	margin-bottom:400px;
 }
 .about-me-content {
 	position:static;
 	padding:20px;
	width:auto;
	margin-bottom:-400px;
 }

 body {
 	font-size:13px;
 	line-height: 1.4;
 }
 h1 {font-size:30px;  }
 h2.blog-title-pro { font-size:25px; }
 h2 {font-size:22px; }
 h3 {font-size:19px; }
 h4  {font-size:17px;}
 h5  {font-size:15px; }
 h6 {font-size:13px;  }

 .gallery-title-index { font-size:19px; }
 .fotorama__caption { font-size:15px; }
 .dot-navigation-pro .fotorama__caption__wrap { padding-bottom:30px;}
 .fotorama__caption__wrap { padding-bottom:15px;}
 input#submit-pro, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main td.actions  input.button.checkout-button,
 body #main button.button, body #main a.button, body #single-product-pro button.single_add_to_cart_button,
 body a.more-link, body #main #respond input#submit, body a.progression-button, body input.wpcf7-submit, body footer .wpcf7 input#submit, body input#submit, body a.ls-sc-button.default {
 	padding:10px 16px;
 	font-size:11px;
 }
 ul.meta-progression-bottom {
 	font-size:80%;
 }

 #post-nav-progression a { font-size:11px; }

 body ul#menu-sub-nav {	padding:0px 20px;}
 body ul#menu-sub-nav li a { margin-right:10px; }
 /* Container Sizes */
 #footer-navbar {display: block !important;}
 .float-btn {display: none !important;}
 footer, #related-portfolio-pro h2 {  padding:0px 0px; }
 #related-portfolio-pro h2 {padding-top:25px;}
 #main { padding-top:0px; }
 .page-container {
 	margin:0px 0px 0px 0px;
 	padding:25px;
 	padding-bottom:15px;
 }
 body.blog #infinite-nav-pro a, #title-container-pro, #post-nav-progression {
 	margin-right:10px;
 	margin-left:10px;
 }
 .container-blog {
 	margin:25px;
 	padding:25px;
 	padding-bottom:15px;
 }

 .featured-blog-progression, #featured-image-page, #map-progression {
 	margin-top:-25px;
 	margin-left:-25px; margin-right:-25px;
 	margin-bottom:25px;
 }

 .gallery-single-container-pro {
 	margin-top:20px;
 	margin-bottom:15px;
 	padding-bottom:0px;
 }

 pre, code {font-size:12px;}

 span.your-name input, span.your-email input { width:70%;  display:block; }
 .wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input { padding:10px; }
 .wpcf7 input, #respond input, .wpcf7 textarea, #respond textarea {width:85%; }

}

@media only screen and (max-width: 400px) {
	.blog-post.be-large-post .info-block .be-text-tags {
		display: none;
	}

	.blog-post.be-large-post .post-date .fa,
	.detail-container .be-comment-time .fa {
		display: none !important;
	}

}
