doctype html
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
  meta(charset='UTF-8')
  title= title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  meta(name='google-site-verification', content='PbSYuLGN9CBOayGdK1GTwZPVp2so0bV4jgfAwxVtU7I')
  link(rel='stylesheet', type='text/css', href='/nrg/style/bootstrap.min.css')
  link(rel='stylesheet', href='/nrg/style/stylesheet.css')
  link(rel='stylesheet', href='/zyra/style.css')
  link(rel='stylesheet', href='/zyra/custom.css')
  link(rel='stylesheet', href='/zyra/css/responsive.css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,300italic,400italic%7cHind:400,300,700%7cTeko', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='/zyra/revolution/css/settings.css')
  link(rel='stylesheet', type='text/css', href='/zyra/revolution/css/layers.css')
  link(rel='stylesheet', href='/css/custom.css')
  block extrahead
  script(src='/zyra/js/libs/jquery-1.11.3.min.js')
  script(src='/zyra/js/libs/jquery-migrate.min.js')
  script(src='/zyra/js/libs/modernizr-2.6.2.min.js')
body.body-color3.body-color6
  .loader(style='display:none')
    i.fa.fa-spinner
  include ./include/sidebar.jade
  #main
    block content
  .clearfix
  block footer
    include ./include/footer.jade
  script(src='/js/jquery-2.2.2.min.js')
  script(src='/zyra/js/plugins.js')
  script(src='/zyra/js/script.js')
  script(src='/zyra/js/libs/jquery-ui.min.js')
  script(src='/zyra/js/revolution-slider.js')
  script(type='text/javascript', src='/zyra/revolution/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.actions.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.carousel.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.kenburn.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.migration.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.navigation.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.parallax.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.slideanims.min.js')
  script(type='text/javascript', src='/zyra/revolution/js/extensions/revolution.extension.video.min.js')
  script(src='/js/custom.js')
  block extrascript