extends layout
block header-btn
  a.header-btn.header-left(href='javascript:history.go(-1)')
    i.fa.fa-angle-left
block content
  .page-container
    #content-container-pro
      block container
      .clearfix
    block popup
block footer