.info-block.clearfix
  .be-large-post-align
    span
      i.fa.fa-thumbs-o-up
      | #{object.like}
    span
      i.fa.fa-comment-o
      if is_article
        | #{object.comments.length}
      else
        | #{object.children.length}
    if is_article
      span
        i.fa.fa-share
        | #{object.share}
    if is_detail
      span.be-text-tags
        a.be-post-tag(href='/' + link + '/' + object._id + '/edit')
          i.fa.fa-pencil
          | #{object.edit}
.be-large-post-align
  span.be-text-tags.be-post-title.clearfix
    .author-post
      if is_article
        a
        | #{object.title}
      else
        span
          img.ava-author(src=object.userOb.setPhoto)
          a
          | #{object.userOb.setName}
    .post-date
      i.fa
      | #{object.date} #{object.time}
  .clear