footer#footer-navbar
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container
      .naver-collapse.collapse
        ul.nav.navbar-nav
          li
            a.btn(href='/info', class=(menu_info ? 'current-menu-footer':''))
              span.glyphicon.glyphicon-th-large
              br
              | 소개
          li
            a.btn(href='/mypage', class=(menu_mypage ? 'current-menu-footer':''))
              span.glyphicon.glyphicon-user
              br
              | 개인
          li
            a.btn(href='/home', class=(menu_home ? 'current-menu-footer':''))
              span.glyphicon.glyphicon-home
              br
              | 홈
          li
            a.btn(href='/chat', class=(menu_chat ? 'current-menu-footer':''))
              span.glyphicon.glyphicon-comment
              br
              | 소통
          if isAdmin
            li
              a.btn(href='/setting/user', class=(menu_admin ? 'current-menu-footer':''))
                span.glyphicon.glyphicon-cog
                br
                | 관리