#sidebar.sidebar.sidebar-visible-pro
  #sidebar-padding
    block header-btn
      a.header-btn.header-left(href=(isLogin ? '/logout' : '/login'))
        i(class='fa fa-sign-' + (isLogin ? 'out' : 'in'))
    header
      h1#logo
        a(href='/', title='Zyra Theme', rel='home')
          img(src='/img/logo.png', alt='Connect Plus', width='170')
      nav
        .menu-main-navigation-container
          ul#menu-main-navigation.sf-menu.sf-vertical
            li(class=(menu_home ? 'menu-item current-menu-item' : 'menu-item'))
              a(href='/home') 홈
            li(class=(menu_mypage ? 'menu-item current-menu-item' : 'menu-item'))
              a(href='/mypage') 개인 페이지
            li(class=(menu_chat ? 'menu-item current-menu-item' : 'menu-item'))
              a(href='/chat') 소통공간
            li(class=(menu_info ? 'menu-item current-menu-item' : 'menu-item'))
              a(href='/info') 소개
            if isAdmin
              li(class=(menu_admin ? 'menu-item current-menu-item' : 'menu-item'))
                a(href='/setting/user') 관리자
            li.menu-item
              a(href=(isLogin ? '/logout' : '/login'))= (isLogin ? '로그아웃' : '로그인')
    .clearfix
    #navigation-sidebar-pro
      #pyre_social_media-widget-feat-2.sidebar-item.widget.pyre_social_media-feat
        .social-icons-widget-pro
          ul.social-ico
            li
              a(href='http://facebook.com', target='_blank')
                i.fa.fa-facebook
            li
              a(href='http://twitter.com/progression_s', target='_blank')
                i.fa.fa-twitter
            li
              a(href='mailto:e-mail@email.com', target='_blank')
                i.fa.fa-envelope
      .sidebar-divider
    .clearfix
  .clearfix
.show-hide-pro.sidebar-show-hide
  i.fa.fa-bars
.show-hide-pro
  i.fa.fa-bars
#toggle-cover-pro